* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 150px;
  grid-template-areas:
    "  header   header  "
    "section-1 section-1"
    "section-2 section-2"
    "section-3 section-3"
    "section-4 section-5"
    "  footer   footer ";

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

header,
.web-app-dev,
.services,
.promo-block,
.contacts,
.about-us,
footer {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.content-width {
  width: 70%;
  max-width: 850px;
  min-width: 570px;
  text-align: center;
}

/* HEADER  */
header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;

  height: 450px;
  padding: 20px;
  background-color: #333;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
}

.header-paragraph {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}

.header-link {
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #eaeaea;
  color: #333;
}

/* SECTION 1 */
.web-app-dev {
  grid-area: section-1;
}

/* SECTION 2 */
.services {
  grid-area: section-2;
}

/* SECTION 3 */
.promo-block {
  grid-area: section-3;
}

/* SECTION 4 */
.contacts {
  grid-area: section-4;
}

/* SECTION 5 */
.about-us {
  grid-area: section-5;
}

/* FOOTER */
footer {
  grid-area: footer;
}
