* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "  header   header  "
    "section-1 section-1"
    "section-2 section-2"
    "section-3 section-3"
    "section-4 section-5"
    "  footer   footer ";
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

header,
.web-app-dev,
.services,
.promo-block,
.contacts,
.about-us,
footer {
  background-color: #f9f9f9;
}

.content-width {
  width: 70%;
  max-width: 850px;
  min-width: 570px;
  text-align: center;
}

/* HEADER  */
header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;

  height: 450px;
  padding: 20px;
  background-color: #333;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: bold;
}

.header-paragraph {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}

.header-link {
  padding: 20px 30px;
  border: 0.5px solid white;
  font-size: 1.1rem;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #eaeaea;
  color: #333;
}

/* SECTION 1 */
.web-app-dev {
  grid-area: section-1;

  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;

  margin: 0;
  width: 100%;
  padding: 25px 20px;
  padding-bottom: 50px;
  background-color: #eaeaea;
  color: #333;
}

h2 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
}

.multi-column-text {
  column-width: 250px;
  column-gap: 2em;
  font-size: 1.1rem;
}

/* SECTION 2 */
.services {
  grid-area: section-2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  width: 100%;
  padding: 30px 20px;
  background-color: #333;
  color: white;
}

.services-items {
  max-width: 280px;
  min-height: 300px;
  height: auto;
  margin: 0 10px;
  padding: 40px 20px;
  border: 1px solid white;
  background-color: white;
  color: #333;
}

.services-items h3 {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.services-items p {
  font-size: 1.1rem;
}

/* SECTION 3 */
.promo-block {
  grid-area: section-3;
  padding: 50px 20px;
  width: 100%;
  font-size: 1.1rem;
}

/* SECTION 4 */
.contacts {
  grid-area: section-4;
}

.more-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  color: white;
}

.contacts,
.about-us {
  height: 100%;
  padding: 35px;
}

.contacts {
  background-color: #2690d4;
}

.mail-link {
  border: none;
  color: inherit;
  text-decoration: none;
}

.more-about h3 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.more-about p {
  padding: 1em;
  font-size: 1.1rem;
}

/* SECTION 5 */
.about-us {
  grid-area: section-5;

  background-color: #333;
}

@media screen and (max-width: 1100px) {
  .more-about {
    justify-content: flex-start;
    padding-top: 60px;
  }
}

/* FOOTER */
footer {
  grid-area: footer;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  font-size: 1.1rem;
  background-color: black;
  color: white;
}

.project-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.traversy-media-link {
  color: inherit;
  text-decoration: none;
}

/* Responsive Grid */
@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section-1"
      "section-2"
      "section-3"
      "section-4"
      "section-5"
      "footer";
  }

  /* section 2 */
  .services {
    flex-direction: column;
    align-items: center;
  }

  .services-items {
    max-width: 100%;
    min-height: 200px;
    margin: 10px 0;
    padding: 20px;
  }

  .services-items h3 {
    margin: 1em;
  }

  /* footer */
  footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
