* {
  box-sizing: border-box;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "  header   header  "
    "section-1 section-1"
    "section-2 section-2"
    "section-3 section-3"
    "section-4 section-5"
    "  footer   footer ";
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

.content-width {
  width: 80%;
  max-width: 900px;
  text-align: center;
}

/* HEADER */
header {
  display: grid;
  grid-area: header;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  min-height: 450px;
  padding: 20px;
  background-color: #333;
  color: white;
}

header .content-width {
  width: 80%;
  max-width: 1100px;
}

h1 {
  margin-bottom: 1em;
  font-size: 2.2rem;
  font-weight: bold;
}

.header-paragraph {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
  padding-bottom: 1.3rem;
}

.header-link {
  padding: 20px 30px;
  border: 0.5px solid white;
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
}

.header-link:hover {
  background-color: #eaeaea;
  color: #333;
}

/* SECTION 1 */
.web-app-dev {
  display: grid;
  grid-area: section-1;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 30px 20px;
  background-color: #eaeaea;
  color: #333;
}

.web-app-dev .content-width {
  width: 80%;
  max-width: 1100px;
}

h2 {
  padding-bottom: 1em;
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
}

.multi-column-text {
  column-width: 350px;
  column-gap: 2em;
  font-size: 1.1rem;
}

/* SECTION 2 */
.services {
  display: grid;
  grid-area: section-2;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 30px 20px;
  background-color: #333;
  color: white;
}

.services-items {
  max-width: 280px;
  height: auto;
  min-height: 300px;
  padding: 40px 20px;
  border: 1px solid white;
  background-color: white;
  color: #333;
}

.services-items h3 {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.services-items p {
  font-size: 1.1rem;
}

/* SECTION 3 */
.promo-block {
  grid-area: section-3;
  width: 100%;
  padding: 50px 20px;
  background-color: whitesmoke;
  font-size: 1.1rem;
}

/* SECTION 4 */
.contacts {
  grid-area: section-4;
  background-color: #2690d4;
}

.more-about {
  display: grid;
  align-content: center;
  justify-items: center;
  margin: 0 auto;
  color: white;
}

.contacts,
.about-us {
  height: 100%;
  padding: 35px;
}

.mail-link {
  border: none;
  text-decoration: none;
  color: inherit;
}

.mail-link:hover {
  background-color: transparent;
  text-decoration: underline;
  color: #d1d1d1;
}

.more-about h3 {
  padding: 1em;
  font-size: 1.7rem;
  font-weight: bold;
}

.more-about p {
  padding: 1em;
  font-size: 1.1rem;
}

/* SECTION 5 */
.about-us {
  grid-area: section-5;
  background-color: #333;
}

@media screen and (max-width: 1100px) {
  .more-about {
    align-content: start;
    padding-top: 60px;
  }
}

/* FOOTER */
footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  background-color: black;
  font-size: 1.1rem;
  color: white;
}

.project-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.traversy-media-link {
  text-decoration: none;
  color: inherit;
}

/* Responsive Grid */
@media screen and (max-width: 700px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section-1"
      "section-2"
      "section-3"
      "section-4"
      "section-5"
      "footer";
  }

  /* section 2 */
  .services {
    grid-template-columns: 1fr;
  }

  .services-items {
    max-width: 100%;
    min-height: 200px;
    margin: 10px 0;
    padding: 20px;
  }

  .services-items h3 {
    margin: 1em;
  }

  /* footer */
  footer {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    justify-items: center;
  }
}
